/* css reset */

*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height: 59px;
}

/* NavigationBar */
#navbar{
    display: flex;  /*gets things in a row*/
    align-items: center; /* center aligns all items */
}

/* NavigationBar Logo and image */
#logo{
    margin: 14px 15px;
}

#logo img{
    height: 66px;
    margin: 2px 5px;
}


/* NavigationBar List Styling */



#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;  /*content gets on the white portion*/
    opacity: 0.4;
}

#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

/* Whenever somebody hovers on it make the color black and background white */
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 610px;
    justify-content: center;
    align-items: center;
}

/* Home section */
#home::before{
    content: "";
    background-color: black;
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;  /*content gets on the white portion*/
    opacity: 0.9;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: rgb(207, 207, 206);
}

#services .box img{
    height: 159px;
    margin: auto;
    display: block;

}
#services{}

/* Utility classes */
.h-primary{
    color: black;
    font-size: 4.9rem;
    padding: 12px;
    font-family: 'Playball', cursive;
}

.h-primary1{
    text-align: center;
    color: black;
    font-size: 1.2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 3.8rem;
    padding: 12px;
}



.btn{
    padding: 6px 22px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}

.center{
    text-align: center;
}

